.close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8c8c8c;
    border-color: #bfbfbf;
    background: #ffffff;
    width: 14px;
    height: 14px;
    padding: 12px;
}

.close-button:hover {
    color: #595959 !important;
    border-color: #8c8c8c !important;
}

.close-button:active {
    color: #595959 !important;
    border-color: #8c8c8c !important;
}
