.edit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #52c41a;
    border-color: #52c41a;
    background: #f6ffed;
    width: 14px;
    height: 14px;
    padding: 12px;
}

.edit-button:hover {
    color: #95de64 !important;
    border-color: #b7eb8f !important;
}