.valid-button {
    background: #fff2f0;
    width: 74px;
    height: 32px;
    border-radius: 6px;
}
.valid-button:hover:not(.ant-switch-disabled) {
    background: #ffe6e5;
}

.valid-button .ant-switch-inner {
    padding-top: 5px;
    padding-inline-start: 0;
    padding-inline-end: 0;
}

.valid-button .ant-switch-inner .ant-switch-inner-checked, .valid-button .ant-switch-inner .ant-switch-inner-unchecked {
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    font-size: 14px;
}


.valid-button.ant-switch-checked .ant-switch-inner {
    padding-inline-start: 0;
    padding-inline-end: 0;
}

.valid-button .ant-switch-inner .ant-switch-inner-unchecked {
    color: #ff4d4f;
}

.valid-button .ant-switch-inner .ant-switch-inner-checked {
    color: #52c41a;
    padding-inline-start: 0;
    padding-inline-end: 0;
}

.valid-button.ant-switch-checked {
    background: #f6ffed;
}
.valid-button.ant-switch-checked:hover:not(.ant-switch-disabled) {
    background: #eeffde;
}

.valid-button .ant-switch-handle {
    top: 0;
    inset-inline-start: 0;
    width: 4px;
    height: 32px;
}

.valid-button .ant-switch-handle::before {
    display: none;
}

.valid-button.ant-switch.ant-switch-disabled {
    opacity: 1;
}
